html,body
{
    font-size: 30px;
    color: #202020;
    font-family: 'roboto condensed';
    font-weight: 300;
    background-size: wrap;
    overflow-x: hidden;
    
}


body{
  overflow-y: hidden;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.hero{

  background-color: rgb(40,40,40);
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1.6fr 0.4fr;
  grid-template-rows: 0.6fr 1.4fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "pic . . blank" "About About About blank" "About About About blank";
}

.links {

  padding-top: 40px;
  position: fixed;
  right:  1.2vw;
  width: 80px;
  margin-left: 10px;

}

.pic { grid-area: pic; }

.About { grid-area: About; }


.pic{
  margin-left: 20px;
  margin-top: 20px;
}

.About
{
  color: white;
}

.pic img{
  height: 170px;
  width: 170px;
  text-align: center;
}

/*links*/
.l {
  position: relative;
  height: 100px;
  width: 100px;
  font-size: 50px;
  text-align: center;
  align-items: center;
  color: white;
  transition: all 0.25s ease-in-out;
}



.heading{

  color: #ffebeb;
  height: auto;
  top: 35%;
  margin: 0 0 0 0;
}

.About h3{

  font-size: 2rem;
  padding-left: 15%;
  width: 50%;
  transition: all .5s ease-in-out;
}

.About h3:hover {
  color: #b5b3b3;
  transform: scale(1.1);
}
.About h5{
  padding-right: 30px;
  padding-left: 20px;
  word-spacing: 3px;
  text-align: justify;
  line-height: 2em;
}
.About h5::before{
  content: '<span></span>';
  background-color: white;
}
.About h5::after{
  content: '<span></span>';
  background-color: white;
}



/* second */
.What{
  align-items: center;
  background-color: cadetblue;
  height: 100vh;
}
.grid2-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1.6fr 0.4fr;
  grid-template-rows: 0.6fr 1.4fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "blankspace . . blank" "what what what blank" "what what what blank";
}

.blankspace { grid-area: blankspace; }

.What { grid-area: What; }
.what h3{
  margin-top: 100px;
  font-size: 1.7rem;
}



/* third */
.Skills{
  align-items: center;
  background-color: #225555;
  /* height: 100vh; */
}
.grid3-container {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1.6fr 0.4fr;
  grid-template-rows: 0.6fr 1.4fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "blankspace . . blank" "skill skill skill blank" "skill skill skill blank";
}

.blankspace { grid-area: blankspace; }

.Skill { grid-area: Skill; }
.skill h3{
  margin-top: 100px;
  font-size: 1.7rem;
}


button{
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  transition: all .5s ease-in-out;
  color: #fff;
}


.l:hover{
  height: 120px;
}